.DS_Store
config/database.yml
log/*.log
tmp/**/*
index
uploads/**/*
public/javascripts/alchemy
public/stylesheets/alchemy
public/images/alchemy
public/pictures/

db/migrate/
public/javascripts/tinymce_hammer.js
alchemy_cms